.lf-cardswithchip {
  & {
    background: var(--kul-background-color);
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    width: 100%;
  }

  &__cards,
  &__grid {
    display: grid;
    height: 100%;
    width: 100%;
  }

  &__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  &__grid {
    grid-template-rows: minmax(0, auto) 1fr;
  }
}
