.lf-controlpanel {
  & {
    --kul-article-padding: 12px 24px;

    background: var(--kul-background-color);
    display: grid;
    height: 100%;
    width: 100%;
    overflow: auto;
    width: 100%;
  }

  &__spinner {
    height: 100%;
    width: 100%;
  }
}
